body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: aliceblue;
    text-align: center;
    background-image: url(https://cdn.pixabay.com/animation/2024/07/23/19/52/19-52-56-478_512.gif);
}

@font-face {
    font-family: titulo;
    src: url(./easterday/Easterday.otf );
}

h1{
    font-family:titulo; 
    text-align: center;
    font-size: 6rem;
    color: #bca753e1;
    
}

.container{
    width: 800px;
    height: 460px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.imagem img{
    height:100% ;
    width:100% ;
    border-radius: 20px;

}

.bar{
    background-color: #ffffff;
    width:30px ;
    height: 5px;
    margin: 5px;
    cursor: pointer;
    transition: .5s;

}

.bar:hover{
    background-color: #000000;
}

.navegacao{
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    transform: translate(-50%);
}

#imagem2:checked ~ .navegacao{
    background-color: red;
}

input{
    display: none;
}

.imagens{
    display: flex;
    height: 100%;
    width: 1000%;
}

.imagem{
    width: 10%;
    transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#imagem1:checked ~ .img1{
    margin-left: 0;
}

#imagem2:checked ~ .img1{
    margin-left: -10%;
}

#imagem3:checked ~ .img1{
    margin-left: -20%;
}

#imagem4:checked ~ .img1{
    margin-left: -30%;
}

#imagem5:checked ~ .img1{
    margin-left: -40% ;

}
#imagem6:checked ~ .img1{
    margin-left:-50% ;
}

#imagem7:checked ~ .img1{
    margin-left:-60% ;
}
#imagem8:checked ~ .img1{
    margin-left:-70% ;
}
#imagem9:checked ~ .img1{
    margin-left:-80% ;
}
#imagem10:checked ~ .img1{
    margin-left:-90% ;
}

footer{
    margin-top:100%;
    text-align: center;
    background-color: black;
    
}



@media(max-width:320px){
    h1{
       font-size: 4rem;
    }

    .container{
        width: 320px;
        height: 200px;
        overflow: hidden;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
    }

    footer{
        margin-top:100%;
        background-color: black;
        margin-bottom: auto;
    }

    .navegacao{
        position: absolute;
        bottom: 15px;
        left: 50%;
        display: flex;
        transform: translate(-50%);
    }

    .bar{
        background-color: #ffffff;
        width:20px ;
        height: 5px;
        margin: 5px;
        cursor: pointer;
        transition: .5s;
    
    }
    
}

@media(max-width:430px){
    h1{
       font-size: 4.5rem;
    }

    .container{
        width: 370px;
        height: 240px;
        overflow: hidden;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
    }

    footer{
        margin-top:130%;
        background-color: black;
        margin-bottom: auto;
    }

    .navegacao{
        position: absolute;
        bottom: 15px;
        left: 50%;
        display: flex;
        transform: translate(-50%);
    }

    .bar{
        background-color: #ffffff;
        width:20px ;
        height: 5px;
        margin: 5px;
        cursor: pointer;
        transition: .5s;
    
    }
    
}